{% extends "funcionarios/base.html" %}

{% block nav-ocupacaonova %}<a class="active"  href="{% url 'funcionarios:ocupacao_nova' %}">Nova Ocupação</a>{% endblock %}


{% block content %}
	<table class="table" border="0">
		<tr>
			<td>
				<h1>Ocupação Nova.</h1>
			</td>
		</tr>
	</table>

	<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
  		
		  {% include 'funcionarios/ocupacao/ocupacao_form_info.html' with form=form %}

		<button type="submit" class="btn btn-primary">Adicionar Ocupação</button>
    </div><!--div de dentro do template.-->
  </form>
  </div>
{% endblock %}

