{% extends 'notas/base.html' %}

{% block nav-notalist %}<a  class="active" href="{% url 'notas:nota_list' %}">Listar Notas</a>{% endblock %}


{% block content %}

<!--tab projeto-->
<div class="container">

	<table class="table" border="0">
		<tr>
			<td>
				<h1>Lista de notas.</h1>
			</td>
			<td>
				<p align="right">
					{% if  deposito.valor  > 0 %}
						Data Deposito: {{ deposito.data|date:"d/m/Y" }} ->
						Valor Deposito: {{ deposito.valor }}</br>
					{% else %}
						Deposito: Nenhum deposito selecionado.</br>
					{% endif %}
					Total Notas (-) {{ total_notas }}</br>
					Total em caixa = {{ valor_em_caixa }}
				</p>
			</td>
		</tr>
	</table>


	<ul class="nav nav-pills nav-justified">
		<li class="active"> <a data-toggle="tab" href="#marina">Marina</a></li>
		<li ><a data-toggle="tab" href="#casaDeEventos">Casa de Eventos</a></li>
		<li ><a data-toggle="tab" href="#random">Random</a></li>
	</ul>

	<div class="tab-content">
		<div id="marina" class="tab-pane fade active in">
			<div class="post">
				<table>
					<tr>
						<th>Número NF</th>
						<th>Data</th>
						<th>Tipo</th>
						<th>Emitente</th>		
						<th>Descricao</th>
						<th>Valor</th>
						{% if deposito.valor  > 0 %}
						
						{% else %}
							<th>Deposito</th>
						{% endif %}
						<th>Imagem</th>
						<th>Imagem</th>
					</tr>
					{% for nota in notas_marina %}
						<tr>
							{% if perms.notas.can_change %}
							<td><a href="{% url 'notas:nota_edit' nota.pk %}?next={{ request.path|urlencode }}">{{ nota.numero }}</td>
							{% else %}
							<td>{{ nota.numero }}</td>
							{% endif %}
							<td>{{ nota.data|date:"d/m/Y" }}</td>
							<td>{{ nota.tipo_gasto }}</td>
							<td>{{ nota.emitente }}</td>				
							<td>{{ nota.descricao }}</td>
							<td class="alnright">{{ nota.valor }}</td>
							{% if deposito.valor  > 0 %}
								
							{% else %}
								<td>{{ nota.deposito.data | date:"d/m/Y" }} - {{ nota.deposito.valor }}</td>
							{% endif %}
							<td><a href="{{ media_url }}{{ nota.imagem }}">{% if  nota.imagem %} imagem {% endif %}</td>
							<td><a href="{{ media_url }}{{ nota.imagem1 }}">{% if  nota.imagem1 %} imagem1 {% endif %}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div id="casaDeEventos" class="tab-pane fade">
			<div class="post">
				<table>
					<tr>
						<th>Número NF</th>
						<th>Data</th>
						<th>Tipo</th>
						<th>Emitente</th>		
						<th>Descricao</th>
						<th>Valor</th>
						{% if deposito.valor  > 0 %}
						
						{% else %}
							<th>Deposito</th>
						{% endif %}
						<th>Imagem</th>
						<th>Imagem</th>
					</tr>
					{% for nota in notas_casaDeEventos %}
						<tr>
							{% if perms.notas.can_change %}
							<td><a href="{% url 'notas:nota_edit' nota.pk %}?next={{ request.path|urlencode }}">{{ nota.numero }}</td>
							{% else %}
							<td>{{ nota.numero }}</td>
							{% endif %}
							<td>{{ nota.data|date:"d/m/Y" }}</td>
							<td>{{ nota.tipo_gasto }}</td>
							<td>{{ nota.emitente }}</td>				
							<td>{{ nota.descricao }}</td>
							<td class="alnright">{{ nota.valor }}</td>
							{% if deposito.valor  > 0 %}
								
							{% else %}
								<td>{{ nota.deposito.data | date:"d/m/Y" }} - {{ nota.deposito.valor }}</td>
							{% endif %}
							<td><a href="{{ media_url }}{{ nota.imagem }}">{% if  nota.imagem %} imagem {% endif %}</td>
							<td><a href="{{ media_url }}{{ nota.imagem1 }}">{% if  nota.imagem1 %} imagem1 {% endif %}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div id="random" class="tab-pane fade">
			<div class="post">
				<table>
					<tr>
						<th>Número NF</th>
						<th>Data</th>
						<th>Tipo</th>
						<th>Emitente</th>		
						<th>Descricao</th>
						<th>Valor</th>
						{% if deposito.valor  > 0 %}
						
						{% else %}
							<th>Deposito</th>
						{% endif %}
						<th>Imagem</th>
						<th>Imagem</th>
					</tr>
					{% for nota in notas %}
						<tr>
							{% if perms.notas.can_change %}
							<td><a href="{% url 'notas:nota_edit' nota.pk %}?next={{ request.path|urlencode }}">{{ nota.numero }}</td>
							{% else %}
							<td>{{ nota.numero }}</td>
							{% endif %}
							<td>{{ nota.data|date:"d/m/Y" }}</td>
							<td>{{ nota.tipo_gasto }}</td>
							<td>{{ nota.emitente }}</td>				
							<td>{{ nota.descricao }}</td>
							<td class="alnright">{{ nota.valor }}</td>
							{% if deposito.valor  > 0 %}
								
							{% else %}
								<td>{{ nota.deposito.data | date:"d/m/Y" }} - {{ nota.deposito.valor }}</td>
							{% endif %}
							<td><a href="{{ media_url }}{{ nota.imagem }}">{% if  nota.imagem %} imagem {% endif %}</td>
							<td><a href="{{ media_url }}{{ nota.imagem1 }}">{% if  nota.imagem1 %} imagem1 {% endif %}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

</div>
{% endblock %}